<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
                <h1>{{id}}</h1>
                {{form.as_p}}
                <input type="submit" name="submit" id="">
                <a class="btn btn-link" href="{% url 'apppost' %}">Back to Post List</a> <br>
                <a class="btn btn-link" href="{% url 'dashboard' %}">Dashboard</a>

        </form>
        </div>
</body>
</html>